<mat-toolbar color="primary">
  <a mat-button routerLink="/piechart">Pie chart</a>
  <a mat-button routerLink="/linechart">Line chart</a>
</mat-toolbar>

<mat-form-field>
  <mat-label>Select Control</mat-label>
  <mat-select [value]="selected$ | async" (selectionChange)="changeOption($event.value)">
    <mat-option *ngFor="let ctrl of controls" [value]="ctrl">
      {{ ctrl }}
    </mat-option>
  </mat-select>
</mat-form-field>

<input
  type="file"
  name="files"
  class="form-control"
  #uploads
  (change)="onChange(uploads.files)"
  multiple
/>

<button mat-raised-button color="primary" (click)="resetAll()">Reset all</button>


<!-- <div>
  <table border="">
    <thead>
      <tr>
        <th>markdown</th>
        <th>revenues</th>
        <th>margin</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of dataList">
        <td>{{ record.markdown }}</td>
        <td>{{ record.revenues }}</td>
        <td>{{ record.margin }}</td>
      </tr>
    </tbody>
  </table>
</div> -->
