<mat-toolbar color="primary">
  <a mat-button routerLink="/piechart">Pie chart</a>
  <a mat-button routerLink="/linechart">Line chart</a>
</mat-toolbar>

<mat-form-field>
  <mat-label>Select Control</mat-label>
  <mat-select
    [value]="selected$ | async"
    (selectionChange)="changeOption($event.value)"
  >
    <mat-option *ngFor="let ctrl of controls" [value]="ctrl">
      {{ ctrl }}
    </mat-option>
  </mat-select>
</mat-form-field>

<input
  type="file"
  name="files"
  class="form-control"
  #uploads
  (change)="onChange(uploads.files)"
  multiple
/>

<button mat-raised-button color="primary" (click)="resetAll()">
  Reset all
</button>

<h1>selectedCategories:</h1>
<p *ngFor="let category of selectedCategories$ | async">{{ category }}</p>

<h1>selectedDateRange:</h1>
<p *ngFor="let date of selectedDateRange$ | async">{{ date }}</p>
